<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все записи</title>
    <style>
        .nails {
            display: flex;
            margin-bottom: 10px;
        }

        .nails-date {
            margin-left:20px;
        }

        .nails-time {
            margin-left:20px;
        }
    </style>
</head>
<body>
    <h1>Все записи:</h1>
    <div>
        <% let i = 0; %>
        <% for (let nail of nails) { %>
            <% if (user.isAdmin || user.username === nail.username) { %>
                <% const now = new Date(); %>
                <% const date = new Date(nail.output); %>
                <% if (now < date) { %> <!-- Проверяем дату с объектом Date -->
                    <div class="nails">
                        <div class="nails-name">
                            <%= nail.username %> <!-- Заменяем на username -->
                        </div>
                        <div class="nails-date">
                            <%= nail.output %>
                        </div>
                        <div class="nails-time">
                            <%= nail.time %>
                        </div>
                        <form class="delete-btn" action="/delete" method="POST">
                            <input type="hidden" name="index" value="<%= i %>">
                            <button type="submit">Удалить</button>
                        </form>
                    </div>
                <% } %>
            <% } %>
            <% i++; %>
        <% } %>
    </div>
    <form action="/" method="get">
        <input type="submit" name="back" value="Назад">
    </form>
</body>
</html>
