<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NogotochkiXD</title>
</head>
<body>
    <form action='/add' method='POST'>
        <label>Введите своё имя, дату и время</label><br>
        <input type='text' name='name' /><br><br>
        <input type='text' name='date' /><br><br>
        <input type='text' name='time' /><br><br>
        <input type='submit' name='add' value='Записаться' /><br><br>
    </form>
    <form action="/all" method="get">
        <input type ='submit' name ='all' value ='Все записи'>
    </form>
</body>
</html>