<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <input type="text" name="username"><br><br>
        <input type="password" name="password"><br><br>
        <input type="submit" name="action" value="Login"><br><br>
        <input type="submit" name="action" value="Register"><br><br>
    </form>
</body>
</html>